.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.logo {
  color: #49557e;
  display: flex;
  gap: 10px;
  font-size: small;
}

.logo-icon {
  width: 36px;
  height: 36px;
}
.navbar .profile {
  width: 40px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1px;
}
h1 {
  font-weight: 400;
}
